@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: #f9fafb; /* gray-50 */
    color: #111827;           /* gray-900 */
  }
}
